{% extends 'base.html' %}
{% load static %}
{% block title %}
Разбивка {{criteria.name}} по {{criteria.slicename}}
{% endblock %}

{% block main %}
      <section class="container justify-content-between my-4">
      <h1>About Us</h1>
      <p>
      Всем привет, мы - команда Хикканы.
      <p>
        <p>
      Проект написали:<br>
      Иванов Андрей Александрович - faktr1998@mail.ru<br>
      Лозинский Иван Павлович - ivanushka3d@ya.ru<br>
      Скиба Глеб Андреевич - gleb-skiba@mail.ru
              <br><br>
      <i>Шалость удалась</i>
      </section>
{% endblock %}